java/进阶/src/day08/xml约束/DTD/note.dtd

<!ELEMENT note (to,from,heading,body)>
<!ELEMENT to      (#PCDATA)>
<!ELEMENT from    (#PCDATA)>
<!ELEMENT heading (#PCDATA)>
<!ELEMENT body    (#PCDATA)>

<!--!DOCTYPE note (第二行)定义此文档是 note 类型的文档。
    !ELEMENT note (第三行)定义 note 元素有四个元素："to、from、heading,、body"
    !ELEMENT to (第四行)定义 to 元素为 "#PCDATA" 类型-->